<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic (~{::main})}">
	<main th:object="${item}" class="poly-item-detail">
		<div class="row">
			<div class="col-md-6">
				<div class="card bg-light mb-3">
					<div class="card-body text-center">
						<div class="image-frame">
							<img th:src="@{|/assets/images/${item.image}|}" class="img-fluid" alt="Product Image">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card bg-light mb-3">
					<div class="card-body">
						<ul class="list-unstyled">
							<li><h2><strong th:text="${item.name}"></strong></h2></li>
							<li>Price: $<span th:text="${item.price}"></span></li>
							<li>Create Date: <span th:text="${item.createDate}"></span></li>
							<li>Category: <span th:text="${item.category.name}"></span></li>
						</ul>
					</div>
					<div class="card-footer text-end">
						<p th:replace="~{/product/_actions::item_id(${item.id})}"></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="bg-light p-3">
					<h5 class="text-center">RELATED PRODUCTS</h5>
					<div class="row">
						<div class="col-md-2" th:each="p: ${item.category.products}" th:if="${pStat.index} < 6">
							<div class="mb-3 text-center product-frame">
								<div>
									<a th:href="@{|/product/detail/${p.id}|}">
										<img th:src="@{|/assets/images/${p.image}|}" class="img-fluid img-rounded" alt="Product Image">
									</a>
								</div>
								<h5 class="card-title text-center" th:text="${p.name}" style="font-weight: bold;"></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</main>	
</div>
