<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic (~{::main})}">
    <main>
        <div th:replace="~{/cart/view :: cart_frag}"></div>
        <div class="panel panel-primary bg-light mt-2">
            <div class="card-header bg-dark text-white">ORDER PURCHASING</div>
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="purchaser">Purchaser:</label>
                                <input id="purchaser" type="text" class="form-control" value="{{$auth.user.fullname}} ({{$auth.user.email}})" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="orderDate">Order Date:</label>
                                <input id="orderDate" type="text" class="form-control" value="{{order.createDate | date : 'dd-MM-yyyy'}}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="shippingAddress">Shipping Address:</label>
                                <textarea id="shippingAddress" ng-model="order.address" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-end">
                <button ng-click="order.purchase()" class="btn btn-success"><i class="bi bi-cart-check"></i> Purchase</button>
            </div>
        </div>
    </main>    
</div>
