<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic (~{::main})}">
  <main>
    <div class="panel panel-primary">
        <div class="panel-heading">YOUR ORDERS PURCHASED</div>
        <table class="table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Order No.</th>
                    <th>Order Date</th>
                    <th>Shipping Address</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order, state: ${orders}">
                    <td th:text="${state.index}"></td>
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.createDate}"></td>
                    <td th:text="${order.address}"></td>
                    <td>
                        <a th:href="@{/order/detail/{orderId}(orderId=${order.id})}" class="btn btn-outline-secondary">
                            <span class="bi bi-basket"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
</div>
