<div class="card">
    <div class="card-header">PRODUCT EDITION</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4 text-center">
                <label for="image">
                    <img ng-src="{{'/assets/images/'+form.image}}" style="max-width:100%;height:200px">
                </label>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input ng-model="form.name" class="form-control" id="name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input ng-model="form.price" class="form-control" id="price">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="image">Image</label>
                            <input type="file" class="form-control" id="image"
                                onchange="angular.element(this).scope().imageChanged(this.files)">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="category">Category</label>
                            <select ng-model="form.category.id" class="form-select" id="category">
                                <option ng-repeat="c in categories" ng-value="c.id">{{c.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="createDate">Create Date</label>
                            <input ng-model="form.createDate" type="date" class="form-control" id="createDate">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Available?</label>
                            <div class="form-control">
                                <div class="form-check form-check-inline">
                                    <input ng-model="form.available" ng-value="true" class="form-check-input" name="available" type="radio" id="availableYes">
                                    <label class="form-check-label" for="availableYes">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input ng-model="form.available" ng-value="false" class="form-check-input" name="available" type="radio" id="availableNo">
                                    <label class="form-check-label" for="availableNo">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>			
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <button ng-click="create()" ng-disabled="form.id" class="btn btn-primary">
            <span class="bi bi-plus-circle"></span> Create
        </button>
        <button ng-click="update()" ng-disabled="!form.id" class="btn btn-success">
            <span class="bi bi-save"></span> Update
        </button>
        <button ng-click="delete(form)" ng-disabled="!form.id" class="btn btn-danger">
            <span class="bi bi-trash"></span> Delete
        </button>
        <button ng-click="reset()" class="btn btn-info">
            <span class="bi bi-arrow-counterclockwise"></span> Reset
        </button>
    </div>
</div>


