<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:fragment="dynamic(main)">
<head>
	<meta charset="utf-8">
	<title>Java 6 Store</title>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
	
	<!--User-defined Scripts-->
	<link th:href="@{/assets/css/shopping-cart-app.css}" rel="stylesheet"/>
	<script th:src="@{/assets/js/shopping-cart-app.js}"></script>
</head>
<body class="container-fluid" ng-app="app" ng-controller="cart-ctrl">
	<header class="row">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<span class="navbar-brand mr-auto">Chào mừng bạn đến với ăn vặt Yummy !!!</span>
				<ul class="navbar-nav">
					<li class="nav-item">
						<span class="navbar-text">Số điện thoại: 0379524068</span>
					</li>
				</ul>
			</div>
		</nav>				
	</header>
	<div class="row">
		<nav th:replace="~{/layout/_menu}"></nav>
	</div>
	<div class="row">
		<article class="col-sm-3" style="font-variant: small-caps;">
			<div class="row" style="padding-left: 20px;">
				<div th:replace="~{/layout/_category}"></div>
			</div>
		</article>
		<aside class="col-sm-9">
			
			<main class="row" th:insert="${main}"></main>
		</aside>
	</div>
	<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid mt-3">

	<footer class="bg-light text-center">
	<!-- Grid container -->
	<div class="container-fluid ">
	  <!-- Section: Form -->
	  <section class="">
		<form action="">
		  <!--Grid row-->
		  <div class="row d-flex justify-content-center">
			<!--Grid column-->
			<div class="col-auto">
			  <p class="pt-2">
				<strong>Sign up for our newsletter</strong>
			  </p>
			</div>
			<!--Grid column-->
  
			<!--Grid column-->
			<div class="col-md-5 col-12">
			  <!-- Email input -->
			  <div class="form-outline mt-2 mb-4">
				<input type="email" id="form5Example2" class="form-control" />
			  </div>
			</div>
			<!--Grid column-->
  
			<!--Grid column-->
			<div class="col-auto mt-2">
			  <!-- Submit button -->
			  <button type="submit" class="btn btn-primary mb-4">
				Subscribe
			  </button>
			</div>
			<!--Grid column-->
		  </div>
		  <!--Grid row-->
		</form>
	  </section>
	  <!-- Section: Form -->
	</div>
	<!-- Grid container -->
  
	<!-- Copyright -->
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
	  <a class="text-dark" href="https://www.facebook.com/profile.php?id=100013407788896">FB : Nguyễn Đăng Khoa</a>
	</div>
	<!-- Copyright -->
  </footer>
	
  </div>
  <!-- End of .container -->
	<script th:src="@{/assets/js/shopping-cart-ctrl.js}"></script>
</body>
</html>